/* Link styles */
a:link{
  color:blue;
}

a:visited{
  color:purple;
}

a:hover {
  color:red
}

a:active{
  color:yellow
}

/*Adding margins and padding since im using normalize.css */
html {
  margin:0 75px 0 75px;
  padding:0 75px 0 75px;
}

/*Styling for headlines */
h1, h3 {
  font-family:"comic sans MS";
  color:gray;
}

h1 {
  font-size:52px;
  margin-bottom:0px;
  padding-bottom:0px;
}

h3 {
  padding-top:0px;
  margin-top:0px;
  font-size:26px;
  margin-bottom:50px;
}

h1, h2, h3, h4 {
  text-align: center;
  }

h2 {
  text-align:center;
  font-size:28px;
}

/* Navigation styling */
header>div>nav {
    margin: 0 0 10px 10px;
    text-align: center;
    font-size: 22px;
    word-spacing: 30px;
}

/*Footer styling */
footer {
  position: relative;
  bottom:0;
  text-align:center;
  word-spacing:50px;
}

body {
  background-color:#f7e7d2;
  margin: 0 10px 0 10px;
  padding: 10px 25px 10px 25px;
}

p {
  font-family:'Times New Roman', Times, serif;
  font-size:22px;
}

.center {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.smaller {
  width:50%;
  height:auto;
}
